.cabecalho{
    background-color: #2985BB;
}
.bloco_login{
    margin-left: 33%;
    margin-top: -5%;
    width: 35%;
    height: 523px;
    border: 1px solid rgb(180, 168, 168);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.text{
    width: 60%;
    height: 140px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 40px;
    color: #2985BB;
    margin-top: 15px;
}
.input-label {
    display: block;
    margin-left: 45px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }

.login-image{
    width: 47.8%;
}

.login-container{
    position: absolute;
    margin-top: -42%;
    margin-left: 20%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body{
    overflow: hidden;
}