.cabecalho{
    background-color: #2985BB;
}
.bloco_login{
    margin-left: 33%;
    margin-top: -5%;
    width: 35%;
    height: 523px;
    border: 1px solid rgb(180, 168, 168);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    overflow-x: hidden;
    padding: 0px;
}
.text{
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 78px;
    color: #2985BB;
    margin-top: 30px;
}
.input-label {
    display: block;
    margin-left: 45px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
  }