.menu_lateral {
    width: 15%; /* Largura inicial do menu lateral */
    height: auto; /* Altura do menu lateral */
    min-height: 100vh; /* Altura mínima do menu lateral */
    background-color: #ffffff; /* Cor de fundo do menu lateral */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(221, 221, 221); /* Cor e espessura da borda */
    margin-top: 0px; /* Espaçamento superior do menu lateral */
}
.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px; /* Ajusta a posição para o canto direito do menu lateral */
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.profile-icon {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 150px;
}

.menu-footer {
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 80px;
}

.linha_vertical {
    border: 1px solid rgb(155, 148, 148); /* Cor e espessura da linha */
    height: 690px; /* Altura da linha */
    margin-left: 200px; /* Espaçamento à esquerda da linha */
    margin-top: -640px;
}
.iten-menu{
    margin-right: 75px;
    margin-top: 20px;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 46px;
    padding: 16px;
    margin-top: -32%;
    margin-left: 22%;
    height: 180px;
    width: 60%;
    
}

.task-card {
    background-color: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.class_header{
    background-color: #6D82F7;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 120px;
    margin-right: 220px;
}

.pagination button {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination span {
    margin: 0 10px;
}

.card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}