.menu_lateral {
    width: 15%; /* Largura inicial do menu lateral */
    height: 640px; /* Altura do menu lateral */
    background-color: #ffffff; /* Cor de fundo do menu lateral */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(155, 148, 148); /* Cor e espessura da borda */
}
.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px; /* Ajusta a posição para o canto direito do menu lateral */
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.profile-icon {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 150px;
}

.menu-footer {
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 80px;
}

.linha_vertical {
    border: 1px solid rgb(155, 148, 148); /* Cor e espessura da linha */
    height: 690px; /* Altura da linha */
    margin-left: 200px; /* Espaçamento à esquerda da linha */
    margin-top: -640px;
}
.iten-menu{
    margin-right: 75px;
    margin-top: 20px;
}